#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  justify-content: space-between
}

#maintitle{
  color:black;
}

#pdr{
  color: black;
  border-style: solid;
  border-color: #D9D9D9;
  padding: 50px;
}

.participants-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#participants-number{
  display: flex;
  align-content: center;
}

.arrow{
  height: 100px;
}

.debug{
  border-style: solid;
  border-color: red;
}

p, h3 {
  color:black;
}

.button {
  margin-top: 16px;
  margin-bottom: 16px;
  color:black;
}

#footer {
  font-weight: bold;
  display: flex;
  justify-content: center;
  bottom: 0;
}

.footer-content{
  color: #D9D9D9;
  margin-right: 10px;
}

#menu {
  color:black;
  display: flex;
  justify-content: center;

}

#menu-mobile{
  display: none;
}

.menu-content{
  margin-right: 10px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  padding: 10px;
}

@media  (max-width: 600px) {
  #menu {
    color:black;
    display: none;
  
  }

  #menu-mobile{
    display: block;
    position: absolute;
    right: 50px;
    top: 50px;
    color: black;
  }

  .dropdown {
    position: absolute;
    display: inline-block;
    top: 80px;
  }
  
  .dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #d9d9d9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 10px;
  }
}

.hidden{
  display: none;
}
